.error {
  margin-top: 24px;
  display: flex;
  gap: 8px;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: bold;
  color: #f87171;
  border: 2px solid #f87171;
  border-radius: 4px;
  padding: 8px;
}

.projects {
  padding: 12px;
}

.projects h2 {
  font-size: 1.5rem;
  line-height: 2rem;
}
