/* .card {
  width: 350px;
  height: 330px;
  background: #eee;
  border-radius: 0px 0px 30px 30px;
  box-shadow: 2px 2px 10px #bebebe;
  transition: 0.2s ease-in-out;
  margin: 0 auto;
} */

.card {
  width: 90%;
  padding: 14px 8px;
  background: #101010;
  box-shadow: 1px 1px 10px #2928285e;
  border: 1px solid #000;
  border-radius: 5px;
  position: relative;
  color: #fff;
  text-decoration: none;
  margin: 0 auto;
}

.card-technology-project {
  display: flex;
  align-items: center;
  gap: 8px;
}

.card-technology-project div {
  background: #d9d9d9;
  color: #000;
  padding: 2px 16px 4px 16px;
  border-radius: 20px;
}

.img {
  display: flex;
  align-items: top;
  justify-content: right;
}

.img img {
  width: 100%;
}

.save {
  transition: 0.2s ease-in-out;
  border-radius: 10px;
  margin: 20px;
  width: 30px;
  height: 30px;
  background-color: #686ce97d;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.card-info-creator {
  display: flex;
  align-items: center;
  gap: 8px;
}

.card-info-creator p {
  font-size: 14px;
  color: #c2c2c2;
}

.text {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: space-around;
  gap: 8px;
}

.save svg {
  transition: 0.2s ease-in-out;
  width: 20px;
  height: 20px;
}

.icon-box {
  margin-top: 15px;
  width: 70%;
  padding: 10px;
  background-color: #e3fff9;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.icon-box svg {
  width: 17px;
}

.text .h3 {
  font-family: 'Lucida Sans' sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.info-user {
  display: flex;
  align-items: center;
  gap: 8px;
}
.info-user img {
  width: 25px;
  border-radius: 50%;
}

.text .p {
  font-family: 'Lucida Sans' sans-serif;
  font-size: 13px;
}

.icon-box .span {
  margin-left: 10px;
  font-family: 'Lucida Sans' sans-serif;
  font-size: 13px;
  font-weight: light;
}

/* .card:hover {
  cursor: pointer;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
} */

.save:hover {
  transform: scale(1.1) rotate(10deg);
}

.save:hover svg {
  fill: #ced8de;
}
