.header {
  width: 100%;
  height: 64px;
  position: fixed;
  top: 0;
  z-index: 50;
  background: #292524;
  border-bottom: 1px solid #44403c;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 12px;
}

.logo {
  font-size: 18px;
}

.btn {
  height: 40px;
  padding-inline: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  background-color: #27272a;
  border: 1px solid #3f3f46;
  border-radius: 6px;
}

.avatar {
  height: 28px;
  width: 28px;
  border-radius: 100vh;
}

.menu {
  position: relative;
}

.dropdown {
  width: 200px;
  background-color: #292524;
  border: 1px solid #44403c;
  border-radius: 6px;
  position: absolute;
  z-index: 40;
  top: 45px;
  right: 0;
}

.dropdown__item {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px;
}

.dropdown__item:hover {
  background-color: #44403c;
}
